<template>
  <Layout>
    <div
      v-if="isLoading"
      class="no-article-message text-center my-10"
    >
      Please wait.
    </div>
    <div
      v-else
      class="article p-5 mx-auto text-lg"
    >
      <h1 class="title text-5xl text-center">
        {{ article.title }}
      </h1>
      <p class="summary text-gray-900 my-4 text-center">
        {{ article.summary }}
      </p>
      <div class="text-center">
        <span class="text-gray-600">
          {{ article.writer }} &#8729; {{ article.duration }} {{ durationUnit(article.duration) }} &#8729; {{ formattedDate(article.publishedAt) }}
        </span>
      </div>
      <div
        v-for="content in content"
        :key="content.id"
      >
        <BgParagraph
          v-if="content.type == 'paragraph'"
          :texts="content.paragraph.rich_text"
        />
        <BgHeadingOne
          v-if="content.type == 'heading_1'"
          :text="content.heading_1.rich_text[0].text.content"
        />
        <BgHeadingTwo
          v-if="content.type == 'heading_2'"
          :text="content.heading_2.rich_text[0].text.content"
        />
        <BgHeadingThree
          v-if="content.type == 'heading_3'"
          :text="content.heading_3.rich_text[0].text.content"
        />
        <BgCode
          v-if="content.type == 'code'"
          :code="content.code.rich_text[0].text.content"
        />
        <BgQuote
          v-if="content.type == 'quote'"
          :text="content.quote.rich_text[0].plain_text"
        />
        <div v-if="content.type == 'image'" class="image">
          <img :src="content.image.file.url" />
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import article from '~/services/article'
import BgHeadingOne from "~/components/BgHeadingOne"
import BgHeadingTwo from "~/components/BgHeadingTwo"
import BgHeadingThree from "~/components/BgHeadingThree"
import BgParagraph from "~/components/BgParagraph"
import BgCode from '~/components/BgCode'
import BgQuote from '~/components/BgQuote'
import { date } from '~/lib/date'

export default {
  metaInfo () {
    return {
      title: this.article.title,
      meta: [
        {
          name: 'author',
          content: 'Yuri Chandra Tri Putra'
        },
        {
          name: 'title',
          content: this.article.title
        },
        {
          name: 'slug',
          content: this.article.slug
        }
      ]
    }
  },

  components: {
    BgParagraph,
    BgHeadingOne,
    BgHeadingTwo,
    BgHeadingThree,
    BgCode,
    BgQuote,
  },

  methods: {
    formattedDate (publishDate) {
      return date(publishDate)
    },

    durationUnit (duration) {
      if (duration > 1) {
        return 'minutes'
      }

      return 'minute'
    }
  },

  data () {
    return {
      article: {},
      content: [],
      isLoading: false
    }
  },

  async created () {
    this.isLoading = true
    const data = await article.findProperty(this.$route.params.slug)
    this.article = data

    const content = await article.findContent(this.article.id)
    this.content = [
      ...content.results
    ]

    this.isLoading = false
  }
}
</script>

<style>
.summary {
  color: #a0aec0 !important;
}

.article {
  max-width: 968px !important;
}

.image {
  display: flex;
  justify-content: center;
}
</style>