<template>
  <Layout>
    <div class="px-5 mt-5">
      <div v-if="!isMaintenance">
        <h2
          v-if="articles.length > 0"
          class="font-thin text-4xl"
        >
          My Recent Blogs
        </h2>
        <div
          v-if="isLoading"
          class="no-article-message text-center my-10"
        >
          Please wait.
        </div>
        <div
            v-if="articles.length === 0 && !isLoading"
            class="no-article-message text-center my-10"
        >
          Whoops, no articles available at the moment.
        </div>
        <div
            v-if="articles.length && !isLoading"
            class="article-lists mt-10"
        >
          <ul class="divide-y-2 divide-solid divide-opacity-0">
            <li
              v-for="article in articles"
              :key="article.id"
            >
              <div class="article my-5">
                <h1 class="title text-3xl hover:underline">
                  <GLink :to="articleDetail(article.slug)">{{ article.title }}</GLink>
                </h1>
                <span class="meta text-gray-600">{{ formattedDate(article.publishedAt) }} &#8729; {{ article.duration }} min</span>
                <p class="summary my-5">
                  {{ article.summary }}
                </p>
                <GLink
                    :to="articleDetail(article.slug)"
                    class="text-blue-600 hover:underline"
                >
                  Read more
                </GLink>
              </div>
            </li>
          </ul>
          <div
              v-if="pagination.hasMore"
              class="text-center my-5 hover:underline"
              @click="loadMore(pagination.nextCursor)"
          >
            See more
          </div>
        </div>
      </div>
      <div
            v-else
            class="text-center"
      >
        <h2 class="text-2xl">
          We'll be back very soon.
        </h2>
        <h1>
          At the moment the blog owner is improving the site. He will make this blog available very soon.
        </h1>
      </div>
    </div>
  </Layout>
</template>

<script>
import article from '~/services/article'
import { date } from '~/lib/date'

export default {
  metaInfo: {
    title: 'Blog'
  },

  methods: {
    articleDetail (slug) {
      return `/blog/${slug}`
    },

    formattedDate (publishDate) {
      return date(publishDate)
    },

    async loadMore (nextCursor) {
      const data = await article.get(nextCursor)

      this.articles = [
          ...this.articles,
          ...data.data
      ]

      this.pagination = {
        ...this.pagination,
        ...data.pagination
      }
    }
  },

  data () {
    return {
      articles: [],
      pagination: {
        nextCursor: '',
        hasMore: false
      },
      isLoading: false,
      isMaintenance: false
    }
  },

  async mounted () {
    this.isLoading = true
    const data = await article.get('')

    this.articles = data.data
    this.pagination = {
      ...this.pagination,
      ...data.pagination
    }
    this.isLoading = false
  }
}
</script>
