<template>
  <Layout>
    <div class="short-intro px-5 mt-10">
      <BgImage />
      <h3 class="text-4xl text-center">
        About
      </h3>
      <p class="leading-8 my-4 text-center">
        Hi, welcome to my site. This site is the place where you may find some information about me.
      </p>
      <p class="leading-8 my-4 text-center">
        I am a software engineer based in Jakarta, Indonesia.
      </p>
      <p class="leading-8 my-4 text-center">
        I do fullstack development sometimes, but I more comfortable in backend development.
        Most of the times I wrote Go, Ruby (Ruby on Rails) and Javascript. I love and passionate
        solving problems through software engineering.
      </p>
      <p class="leading-8 my-4 text-center">
        You can also find me at social media <a href="https://twitter.com/yurichandraa" class="text-blue-700 hover:underline">Twitter</a>,
        professional network on <a href="https://www.linkedin.com/in/yuri-chandra-204309162/" class="text-blue-700 hover:underline">Linkedin</a> or
        if you curious how I wrote code you can find me on <a href="https://github.com/yurichandra" class="text-blue-700 hover:underline">Github</a>.
        Last but not least, to talk about professional things, you can write hello to <a href="mailto:yurichandra@gmail.com" class="text-blue-700 hover:underline">My Email</a>.
      </p>
      <p class="text-center mb-4 text-italic">
        Thank you!
      </p>
    </div>
  </Layout>
</template>

<script>
import BgImage from '~/components/BgImage'

export default {
  metaInfo: {
    title: 'About'
  },

  components: {
    BgImage
  }
}
</script>
