<template>
  <Layout>
    <div class="short-intro px-5 mt-20">
      <h3 class="text-4xl">
        Yuri Chandra Tri Putra
      </h3>
      <p class="leading-8 md:w-3/6 sm:w-auto mt-2">
        Hello, welcome to my personal website! In this site
        you can find anything about me. I also write a blog,
        all the topics will be related about building and learning
        cool stuff related to software engineering.
      </p>
      <div class="job-intro mt-5 flex">
        <FontAwesome
          :icon="['fas', 'briefcase']"
          size="md"
        />
        <p class="ml-2">Software Engineer at Fazz</p>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Home'
  }
}
</script>
