<template>
  <div class="contacts">
    <div class="contact-item">
      <a
        :href="account.github"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'briefcase']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-item">
      <a
        :href="account.linkedin"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'linkedin']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-item">
      <a
        :href="account.dev"
        target="_blank"
      >
        <FontAwesome
          :icon="['fab', 'dev']"
          size="lg"
        />
      </a>
    </div>
    <div class="contact-item">
      <a
        :href="account.email"
        target="_blank"
      >
        <FontAwesome
          :icon="['fas', 'envelope']"
          size="lg"
        />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BgContact',

  data () {
    return {
      account: {
        github: 'https://github.com/yurichandra',
        linkedin: 'https://www.linkedin.com/in/yuri-chandra-204309162/',
        dev: 'https://dev.to/yurichandraa',
        email: 'mailto:yurichandra@gmail.com'
      }
    }
  }
}
</script>

<style scoped>
.contacts {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.contact-item {
  margin: 10px;
}

a {
  color: white;
}
</style>
