<template>
  <div class="font-bold text-xl my-5">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: 'BgHeadingThree',

  props: {
    text: {
      type: String,
      default: ''
    }
  }
}
</script>