<template>
  <div class="bg-image">
    <img
      class="mx-auto rounded-md my-2"
      :src="imageUrl"
      alt="yurichandra-image"
    >
  </div>
</template>

<script>
export default {
  name: 'BgImage',

  data () {
    return {
      imageUrl: 'https://www.gravatar.com/avatar/4452ad124e52b581d1add2009b6097ac?s=160'
    }
  }
}
</script>
