<template>
  <p class="paragraph leading-loose my-5">
    <span v-html="finalTexts" />
  </p>
</template>

<script>
export default {
  name: 'BgParagraph',

  props: {
    texts: {
      type: Array,
      default: () => []
    }
  },

  computed: {
    finalTexts () {
      if (this.texts.length == 0) {
        return ''
      }

      let finalString = ''

      for (let i = 0; i < this.texts.length; i++) {
        if (this.texts[i].annotations.italic) {
          finalString += '<i>' + this.texts[i].text.content + '</i>'
        } else if (this.texts[i].annotations.bold) {
          finalString += '<bold>' + this.texts[i].text.content + '</bold>'
        } else if (this.texts[i].annotations.underline) {
          finalString += '<u>' + this.texts[i].text.content + '</u>'
        } else if (this.texts[i].type == 'mention') {
          finalString += `<a href="${this.texts[i].href}" class="underline">` + this.texts[i].plain_text + '</a>'
        } else if (this.texts[i].annotations.code) {
          finalString += `<span class="code-block-small">`+this.texts[i].plain_text+`</span>`
        } else {
          finalString += this.texts[i].text.content
        }
      }

      return finalString
    }
  },
}
</script>

<style>
.code-block-small {
  background-color: rgba(135,131,120,0.15);
  color: #DD4A68;
  padding: 4px;
  border: 1px none;
  border-radius: 5px;
}
</style>