<template>
  <div class="quote border-l-4 border-solid border-black pl-4 leading-normal">
    <p class="quote quote-text">
      {{ text }}
    </p>
  </div>
</template>

<script>
export default {
  name: "BgQuote",

  props: {
    text: {
      type: String,
      default: ''
    }
  }
}
</script>
