<template>
  <div class="flex p-5 justify-between">
    <div class="signature">
      <h2 class="text-lg">
        Yuri Chandra &#128521;
      </h2>
    </div>
    <div class="navigation py-1">
      <ul class="flex">
        <li class="px-2">
          <GLink to="/" class="hover:text-blue-700">Home</GLink>
        </li>
        <li class="px-2">
          <a href="/about/" class="hover:text-blue-700">About</a>
        </li>
        <li class="px-2">
          <GLink to="/blog/" class="hover:text-blue-700">Blog</GLink>
        </li>
      </ul>
    </div>
  </div>
</template>