<template>
  <div class="layout md:w-8/12 sm:container sm:mx-auto">
    <BgHeader />
    <slot/>
  </div>
</template>

<script>
import BgHeader from './BgHeader'

export default {
  components: {
    BgHeader
  }
}

</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
body {
  font-family: 'PT Serif', serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* background-color: #243447;
  color: white; */
}
</style>
